<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace" strict="true"
                name="XMLConfigTest" packages="org.apache.logging.log4j.test">
    <Appenders>
        <Appender type="Console" name="STDOUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </Appender>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
