<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.android.test3"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".Test3Activity" 
            android:screenOrientation="portrait" 
            android:configChanges="touchscreen|keyboard"
            android:theme="@android:style/Theme.Black" 
            android:permission="android.permission.INTERNET" 
            android:launchMode="standard"
            android:noHistory="true">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
			android:label="@string/app_name"
			android:name=".NextActivity" 
			android:theme="@android:style/Theme.Black" 
			android:screenOrientation="portrait" 
			android:configChanges="touchscreen|keyboard" 
			android:permission="android.permission.INTERNET">
            <intent-filter>
                <action android:name="android.intent.action.RUN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>
		
		<provider 
		    android:authorities="de.android.test3.provider"
          	android:enabled="true"
          	android:exported="false"
          	android:grantUriPermissions="false"
          	android:icon="@drawable/ic_launcher"
          	android:initOrder="1"
         	android:label="@string/app_name"
          	android:multiprocess="false"
          	android:name=".IndexerProvider"
          	android:permission="android.permission.MOBIADS"
          	android:readPermission="android.permission.READ_MOBIADS"
          	android:syncable="false"
          	android:writePermission="android.permission.WRITE_MOBIADS" >
            <grant-uri-permission android:pathPattern=".*" />
		</provider>
		<!--
		<provider 
			android:process="string" When having my service, here I should write the service process name 
		</provider>-->
       
    </application>

</manifest>