<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
  						   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
  						   http://www.springframework.org/schema/context 
  						   http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<!-- 
			We have to use SPRING ASPECTJ (no SPRING AOP 2.0/1.2) because we want to use
		annotations with inner classes.
			AspectJ under this configuration requires at least one 'META-INF/aop.xml' file
		with the configuration about the Advices.
			
		This switches on the load-time weaving 
	    See: http://static.springsource.org/spring/docs/3.1.0.M2/spring-framework-reference/html/aop.html#aop-aj-ltw-spring
	-->
    <context:load-time-weaver  weaver-class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver"
    						   aspectj-weaving="autodetect"/>
    
	
	<bean id="myAdvice" class="es.dia.pos.n2a.spring.example.MyAdvice">
    	
    </bean>

 	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
                <property name="user" value="root"/>
                <property name="password" value=""/>
                <property name="driverClass" value="com.mysql.jdbc.Driver"/>
                <property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/n2a?autoReconnect=true"/>
                <property name="initialPoolSize" value="5"/>
                <property name="maxPoolSize" value="20"/>
                <property name="minPoolSize" value="10"/>
                <property name="acquireIncrement" value="1"/>
                <property name="acquireRetryAttempts" value="5"/>
                <property name="acquireRetryDelay" value="1000"/>
                <property name="automaticTestTable" value="con_test"/>
                <property name="checkoutTimeout" value="5000"/>
    </bean>
 
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="transactionManagerN2A" 
	       class="es.dia.pos.n2a.spring.example.TransactionManagerN2A"
	       factory-method="getInstance">
        <property name="transactionManager">
            <ref bean="transactionManager" />
        </property>
    </bean>
	
	<!-- 
    		In order to find annotations in inner classes we have to create Spring 
    	beans of them.
    -->
    <bean id="testOuter" class="es.dia.pos.n2a.spring.example.web.Test"/> 
    <bean id="testInner" class="es.dia.pos.n2a.spring.example.web.Test$InnerTest">
        <constructor-arg ref="testOuter"/>
    
    </bean>
    
</beans>
