<?xml version="1.0" encoding="UTF-8"?>

<!-- 
    status: The level of internal Log4j events that should be logged to the console.
    Valid values for this attribute are "trace", "debug", "info", "warn", "error" and "fatal".
    
    monitorInterval: The minimum amount of time, in seconds, that must elapse before the file configuration is checked for changes.
    
    
    see https://logging.apache.org/log4j/2.x/manual/configuration.html
 -->
<Configuration status="error" strict="true" monitorInterval="30"
                name="XMLConfigTest" packages="org.apache.logging.log4j.test">

    <!--
        ALL > TRACE > DEBUG > INFO > WARN > ERROR > OFF
        
        ERROR by default.
    -->

    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%X{UUID}] %class{36} %L %M - %msg%xEx%n"/>
        </Console>

    </Appenders>

    <Loggers>



        <!-- 
            Anything else will be using TRACE logging level.
         -->
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
        </Root>

    </Loggers>
</Configuration>
