<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="de.example.mybatis.repository.mapper.AdCustomMapper" >
  <select id="selectAds" resultType="de.example.mybatis.model.Ad" flushCache="false" useCache="true" timeout="10000" statementType="PREPARED">
  		select * FROM ad
  </select>
  
  <update id="updateAdsBatch" parameterType="List">
  		<!-- In order to make it work, the JDBC connection requires allowMultiQueries=true -->
		<foreach collection="list" item="ad" separator=";">
    		UPDATE ad
     		<set>
       			company_id=#{ad.companyId},
       			company_categ_id=#{ad.companyCategId},
       			ad_mobile_image=#{ad.adMobileImage}
     		</set>
     		<where>
       			id=#{ad.id}
     		</where>
  		</foreach>
  </update>
  
   <select id="selectAdsList" resultType="de.example.mybatis.model.Ad" flushCache="false" useCache="true" timeout="10000" statementType="PREPARED">
  		select * FROM ad
  </select>

</mapper>