<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="de.example.mybatis.repository.mapper.ParentMapper">

	<select id="selectAdsParent" resultType="de.example.mybatis.model.Ad">
		select * FROM ad
	</select>
	
</mapper>