<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:websocket="http://www.springframework.org/schema/websocket"

  xsi:schemaLocation="http://www.springframework.org/schema/beans 
                      http://www.springframework.org/schema/beans/spring-beans.xsd
                      http://www.springframework.org/schema/context 
                      http://www.springframework.org/schema/context/spring-context.xsd
                      http://www.springframework.org/schema/websocket
        			  http://www.springframework.org/schema/websocket/spring-websocket.xsd">

    <!--
    	Searches for beans in packages (instead of XML configuration we can use
    	in this way annotations like @Service, @Endpoint, etc, etc)
    -->
    <context:component-scan base-package="de.spring.stomp"/>


    <bean class="org.springframework.web.socket.server.standard.ServletServerContainerFactoryBean">
        <property name="maxTextMessageBufferSize" value="8192"/>
        <property name="maxBinaryMessageBufferSize" value="8192"/>
    </bean>
    
    <!-- STOMP -->
    <websocket:message-broker application-destination-prefix="/app">
        <websocket:stomp-endpoint path="/portfolio" allowed-origins="*">
            <websocket:sockjs/>
        </websocket:stomp-endpoint>
        <!--
        	Full-featured broker, see: http://docs.spring.io/spring/docs/current/spring-framework-reference/html/websocket.html#websocket-stomp-handle-broker-relay
        <websocket:stomp-broker-relay prefix="/topic,/queue" />
        -->
        <websocket:simple-broker prefix="/topic, /queue"/>
    </websocket:message-broker>

</beans>
